navbar

toast
.internal--page__wrapper
  .container.issuance
    .row
      .col-md-10.col-md-offset-1.text-center
        .col-md-8.col-md-offset-2
          h1 Quote: 
            br
            span.contract-id {{contract.address}}
          h1(ng-show="contractState.stateInt < 5") Status: 
            span.status Open Quote
          h1(ng-show="contractState.stateInt == 5") Status: 
            span.status Closed Quote
          .list-group.text-left
            .list-group-item
              p 
                strong Quote Address: 
                a.contract-detail(href="{{apiURL}}account?address={{contract.address}}", target="_blank")   {{contract.address}}
              p 
                strong Quote Balance: 
                span.contract-detail {{contract.balance}}
              p 
                strong Price: 
                span.contract-detail {{contractState.quotePrice}}
              p 
                strong Quote Status: 
                span.contract-detail {{contractState.stateMessage}}
              p
                strong Topping: 
                span.contract-detail {{contractState.quoteProducts}}
          .btn.btn-primary(ng-click="showOrderModal()", ng-show="name != 'dom' && contractState.stateInt < 3") Buy Quote To Order 
          a(href="/swap/{{contract.address}}/events").btn.btn-primary( ng-show="contractState.stateMessage == 'Products delivered, quote was accurate'") Rate Quote Satisfaction

      
.modal.fade#sign-transaction
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
        h4.modal-title  Sign Transaction &amp; Buy Quote
      .modal-body
        .form-control-wrapper
          input#inputEmail.form-control.empty(type='password', placeholder='Password', ng-model="password")
          span.material-input
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel 
        button.btn.btn-primary(type='button', ng-click="orderPizza()") Accept Quote
.modal.fade#mining-transaction
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title  Accepting Quote...
      .modal-body
