navbar

.internal--page__wrapper
  .container.swap-form__wrapper
    .row
      .col-md-10.col-md-offset-1.swap-form
        h1.text-center New Quote
        form.form-horizontal.swap-form
          #pizza-time
            .col-md-12
              .panel.panel-default
                .panel-heading Quote Details
                .panel-body
                  input.form-control(type='text', ng-model="quoteContract.quoteName")
                  input.form-control(type='text', ng-model="quoteContract.products")
                  input.form-control(type='text', ng-model="quoteContract.quotePrice")
                
  
    .row
      .col-md-6.col-md-offset-3
        .btn.btn-primary.btn-block(ng-click="submit()") Submit 

.modal.fade#mining-transaction
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title  Creating Quote...
      .modal-body
